@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container-review {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif; /* Añade esta línea */
}

.title-review h2 {
    color: #444;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-review {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rating-review,
.comment-review {
    display: flex;
    flex-direction: column;
}

.label-review,
.titlecomment-review {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    height: 100px;
    border-radius: 4px;
    font-size: 1.3rem;
    color: #333;
}

.send-review {
    background-color: #28a745;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-review:hover {
    background-color: #218838;
}

.send-review:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}