.review-carousel {
  width: 40%; /* Ancho del carrusel */
  margin: 0 auto; /* Centra el carrusel en la página */
  overflow: hidden; /* Oculta el contenido que se desborde del carrusel */
  position: relative; /* Establece posición relativa para los controles de navegación */
}

.carousel {
  display: flex; /* Muestra las tarjetas de reseña en una fila */
  overflow-x: auto; /* Permite desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Hace que el desplazamiento se detenga en cada tarjeta */
  -webkit-overflow-scrolling: touch; /* Añade desplazamiento suave en dispositivos móviles */
}

.review-card {
  flex: 0 0 auto; /* No se redimensiona */
  width: 100%; /* Ocupa todo el ancho del carrusel */
  scroll-snap-align: start; /* Alinea cada tarjeta al inicio del carrusel */
  margin-right: 10px; /* Espacio entre tarjetas */
}

.review-card:last-child {
  margin-right: 0; /* Elimina el margen derecho de la última tarjeta */
}
