.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ca8787;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav a {
	text-decoration: none;
	color: #7d6b5a;
}

.nav button {
	background-color: transparent;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s ease;
	padding: 5px 10px;
	border-radius: 15px;
}

.nav button:hover {
	color: #d2691e;
	background-color: #f5e0c9;
}

.searchBar {
	margin: 0 10px;
}
