.home {
  background-color: #f5f5f5;
  padding: 2rem;
}

.home-background {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.categories div {
  text-align: center;
  margin: 0 1rem;
}

.categories img {
  max-width: 100%;
  height: auto;
}

.featured-products,
.new-products {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-carousel,
.new-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.free-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.free-shipping-content {
  flex: 1;
  margin-right: 2rem;
}

.delivery-truck {
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }

  .categories div {
    margin: 1rem 0;
  }

  .free-shipping {
    flex-direction: column;
    align-items: flex-start;
  }

  .free-shipping-content {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.carrito {
  width: 30rem;
  height: auto; 
  margin-right: 1rem; 
  float: left; 
}
.image {
  width: 20rem;
  height: auto; 
}