@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Mi-Componente {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
  
.Mi-Componente button {
    background-color: #4A707A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.Mi-Componente button:hover {
    background-color: #4a6c96;
}
  
.Mi-Componente-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.Mi-Item {
    display: flex;
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 80%;
    height: 300px; /* Define una altura específica para .Mi-Item */
    margin: auto;
}

.Mi-Item img {
    width: 100%;
    height: 100%; /* La imagen tomará la altura de su contenedor */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro de sus dimensiones definidas sin recortarla */
    margin-right: 20px;
}

.Mi-Item-Details {
    flex-grow: 1;
    margin-right: 20px;
}