@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Mi-Componente-CardUser {
    width: 100%;
    background-color: rgb(226, 226, 226, 0.644);
    font-family: 'Roboto', sans-serif;
}
  
.card-footer-CardUser button {
    display: block;
    background-color: #4A707A;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    width: 225px;
}
  
.card-footer-CardUser button:hover {
    background-color: #4a6c96;
}
  
.Mi-Componente-title-CardUser {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}
  
.Mi-Item-CardUser {
    display: flex;
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    width: 100vh;
    height: 200px; /* Define una altura específica para .Mi-Item */
   
}

.Mi-Item-CardUser img {
    width: 10rem;
    height: 100%; /* Cambia esto a un porcentaje del contenedor */
    object-fit: contain;
    margin-right: 20px;
    
}

.Mi-Item-Details-CardUser {
    flex-grow: 1;
    margin-right: 20px;
    max-width: 40%; /* Ajusta este valor según tus necesidades */
    overflow-wrap: break-word; /* Esto hará que las palabras largas se rompan y pasen a la siguiente línea */
}