.card {
    width: 20rem;
    height: auto;
    text-align: left; 
    margin: 2rem;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    padding: 1rem;
    border-radius: 5px;
    display: flex; /* Añade esto para convertir .card en un contenedor flex */
    justify-content: space-between; /* Añade esto para alinear los elementos a los extremos opuestos */
	flex-direction: column;
}
.card-footer {
    display: flex; /* Añade esto para convertir .card-footer en un contenedor flex */
    justify-content: space-between; /* Añade esto para alinear los elementos a los extremos opuestos */
    margin-top: 0.5rem; /* Añade esto para reducir el margen superior */
}
.image-container {
    display: flex;
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    object-fit: contain;
    justify-content: center;
}

.card:hover {
    transform: scale(1.02);
    background-color: rgba(128, 128, 128, 0.11);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.5rem;
    color: black;
    box-shadow: none;
    margin-bottom: 0.5rem; /* Añade esto para reducir el margen inferior */
}

.price {
    color: #4A707A;
    font-weight: bold;
}


.icoFS {
    height: 100px;
    color: #4A707A;
	margin-right: 20px;
}

.card-content h2 {
	color: #333;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.card-price {
	color: #666;
	font-weight: bold;
}

.link-0{
  text-decoration: none;
  color: #2f69cd;
}

