.back {
	background-color: white;
}
.form-box {
	padding: 2rem;
}

.articleForm {
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.5rem;
	background-color:#4A707D;
	border-radius: 8px;
	box-shadow: 0 2px 4px #000000;
}

.form-group {
	margin-bottom: 20px;
}
.image-container {
	margin-bottom: 20px;
	max-width: 400px;
}

.image-container img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #000000;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;

}

input[type='text'],
textarea {
	width: 93%;
	padding: 20px;
	
	border-radius:0.2rem;
	
}

textarea {
	height: 120px;
	resize: vertical;
}

button[type='submit']:disabled {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #a4b7bc;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
button[type='submit']{
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #5aa0eb;
	color: #fff;
	border: none;
	border-radius: 4px;
	
	font-weight: bold;
	cursor: pointer;
}


.error-message {
	color: #d70101;
	font-size: 14px;
	margin-top: 5px;
}
input[type='text'],
textarea {
	font-size: 14px;
	
}
.articlePrice{
	height: 0rem;
}

@media (max-width: 768px) {
	.articleForm {
		padding: 10px;
	}

	input[type='text'],
	textarea {
		font-size: 14px;
		
	}

	button[type='submit'] {
		font-size: 14px;
	}
}
