.back{

  background: linear-gradient(to bottom right, #ffcccc, #ffffcc, #ccffcc);
}
.form-box{
  padding: 2rem;
}


.articleForm {
  
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ccffcc;
  border-radius: 8px;
  box-shadow: 0 2px 4px #e76060;
}

.form-group {
  margin-bottom: 20px;
}
.image-container {
  margin-bottom: 20px;
  max-width: 400px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #000000;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

input[type="text"],
textarea {
  width: 93%;
  padding: 20px;
  border: 3px solid #ffcccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 120px;
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #BACD92;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dd0000;
  font-size: 14px;
  margin-top: 5px;
}
input[type="text"],
  textarea {
    font-size: 14px;
    background-color: #b38484;
  }

@media (max-width: 768px) {
  .articleForm {
    padding: 10px;
  }

  input[type="text"],
  textarea {
    font-size: 14px;
    background-color: #ffffcc;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}