.back {
    background-color: #f0f0f0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.articleForm {
    width: 100%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.details-container {
    flex: 2;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

.error-message {
    color: #4A707A;
    margin-top: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
	align-items: center;
}

button:disabled {
    background-color: #ccc;
}
.button-container {
    display: flex;
    justify-content: center;
}