@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrapper {
    font-family: 'Roboto', sans-serif;
}
:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
}

footer {
    background-color: #4A707D;
    color: #fff;
    padding: 1.25rem 0; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 3.125rem; 
}

.footer-container div {
    flex: 1;
}

.logo-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 6.25rem; 
    height: auto;
}

.links-section, .social-section, .contact-section {
    margin: 0 1.25rem; 
}

.wrapper p {
    margin-bottom: 0.625rem; 
    color: #FFFFFF;
    
}

.wrapper ul {
    list-style: none;
    padding: 0;
}

.wrapper ul li {
    margin-bottom: 0.3125rem; 
}

.wrapper ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.wrapper ul li a:hover {
    text-decoration: underline;
}

.wrapper ul li a i {
    margin-right: 0.5rem; 
}

.footer-bottom {
    text-align: center;
    padding: 0.625rem 0; 
    background-color: #39555D;
    margin-top: 1.25rem; 
}

.footer-bottom p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 0.875rem; 
}

.contact-section p {
    display: flex;
    align-items: center;
    margin: 0.3125rem 0; 

}

.contact-section p i {
    margin-right: 0.5rem; 
}

.contact-section a {
    color: #fff;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration:none;
}
.wrapper ul li a:hover {
    color: #ffffff94; /* Cambia el color del texto al pasar el cursor */
	text-decoration:none;
}

.wrapper ul li a:active {
    color: #a7a7a7; /* Cambia el color del texto al hacer clic */
}