.search-bar {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 0.625rem;
	width: 40rem;
}

.search-bar input[type='search'] {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 16px;
	padding: 6px;
	outline: none;
	color: #000000;
}

.search-bar input[type='search']::placeholder {
	color: #00000052;
}

.search-bar button {
	
	border: none;
	color: #4A707A;
	padding: 8px 16px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}


.no-results {
	margin-top: 10px;
	color: #cc6633;
	font-size: 14px;
}

.search-results {
	margin-top: 10px;
}
