.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.page-item {
	margin: 0 5px;
}

.page-link {
	display: inline-block;
	padding: 8px 12px;
	background-color: #d6d6d6;
	color: #000000;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.page-link:hover {
	background-color: #68B8BF ;
	color: white;
}
/* donde estoy */
.active .page-link { 
	background-color: #68B8BF;
	color: #ffffff;
}
/* donde no estoy */
.disabled .page-link {
	background-color: #000000;
	color: #ffffff;
	cursor: not-allowed;
}
