.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f9e6d8; /* Color pastel salmón */
  color: #6c5c4d; /* Color marrón oscuro */
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #f3d2b5; /* Color pastel salmón más oscuro */
}

.active .page-link {
  background-color: #c9a995; /* Color pastel marrón */
  color: #fff;
}

.disabled .page-link {
  background-color: #e8e8e8; /* Color gris claro */
  color: #bbb;
  cursor: not-allowed;
}